
# Python
__pycache__/
*.py[cod]
*.pyo
*.log

# Venv
.venv/
venv/
.env
.env.*

# Build artifacts
build/
dist/
*.spec

# IDE
.idea/
.vscode/

# Kivy / Android
.buildozer/
bin/
*.apk
*.aab
.gradle/
.cxx/
.kv~

# (اختیاری) اگر KitchenSink فقط نمونه/دمو بوده و لازم نیست:
KitchenSink/
EOF
